<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Overview" data-toc-modified-id="Overview-0"><span class="toc-item-num">0&nbsp;&nbsp;</span>Overview</a></span></li><li><span><a href="#Inserting-Records" data-toc-modified-id="Inserting-Records-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Inserting Records</a></span><ul class="toc-item"><li><span><a href="#Basic-insert" data-toc-modified-id="Basic-insert-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Basic <code>insert</code></a></span></li><li><span><a href="#Bulk-Columnar-Insert" data-toc-modified-id="Bulk-Columnar-Insert-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Bulk Columnar Insert</a></span></li><li><span><a href="#Insert-into-Empty-Tables" data-toc-modified-id="Insert-into-Empty-Tables-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Insert into Empty Tables</a></span></li><li><span><a href="#Insert-and-Foreign-Keys" data-toc-modified-id="Insert-and-Foreign-Keys-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Insert and Foreign Keys</a></span></li><li><span><a href="#Insert-into-Keyed-Tables" data-toc-modified-id="Insert-into-Keyed-Tables-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Insert into Keyed Tables</a></span></li></ul></li><li><span><a href="#Upsert" data-toc-modified-id="Upsert-2"><span class="toc-item-num">2&nbsp;&nbsp;</span><code>Upsert</code></a></span><ul class="toc-item"><li><span><a href="#Upsert-Replacing-Insert" data-toc-modified-id="Upsert-Replacing-Insert-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span><code>Upsert</code> Replacing <code>Insert</code></a></span></li><li><span><a href="#Upsert-by-Name" data-toc-modified-id="Upsert-by-Name-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Upsert by Name</a></span></li><li><span><a href="#Upsert-on-Keyed-Tables" data-toc-modified-id="Upsert-on-Keyed-Tables-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Upsert on Keyed Tables</a></span></li><li><span><a href="#Upsert-on-Persisted-Tables" data-toc-modified-id="Upsert-on-Persisted-Tables-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Upsert on Persisted Tables</a></span></li></ul></li><li><span><a href="#The-select-Template" data-toc-modified-id="The-select-Template-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>The <code>select</code> Template</a></span><ul class="toc-item"><li><span><a href="#Syntax" data-toc-modified-id="Syntax-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Syntax</a></span></li><li><span><a href="#The-Select-Phrase" data-toc-modified-id="The-Select-Phrase-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>The Select Phrase</a></span><ul class="toc-item"><li><span><a href="#Result-Column-Names" data-toc-modified-id="Result-Column-Names-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Result Column Names</a></span></li><li><span><a href="#The-Virtual-Column-i" data-toc-modified-id="The-Virtual-Column-i-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>The Virtual Column <code>i</code></a></span></li><li><span><a href="#select-distinct" data-toc-modified-id="select-distinct-3.2.3"><span class="toc-item-num">3.2.3&nbsp;&nbsp;</span><code>select</code> <code>distinct</code></a></span></li><li><span><a href="#select-[]" data-toc-modified-id="select-[]-3.2.4"><span class="toc-item-num">3.2.4&nbsp;&nbsp;</span><code>select []</code></a></span></li><li><span><a href="#Select-on-Nested-Columns" data-toc-modified-id="Select-on-Nested-Columns-3.2.5"><span class="toc-item-num">3.2.5&nbsp;&nbsp;</span>Select on Nested Columns</a></span></li></ul></li><li><span><a href="#Filtering-with-where" data-toc-modified-id="Filtering-with-where-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Filtering with <code>where</code></a></span><ul class="toc-item"><li><span><a href="#Basic-where" data-toc-modified-id="Basic-where-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Basic where</a></span></li><li><span><a href="#The-Virtual-Column-i-in-where" data-toc-modified-id="The-Virtual-Column-i-in-where-3.3.2"><span class="toc-item-num">3.3.2&nbsp;&nbsp;</span>The Virtual Column <code>i</code> in <code>where</code></a></span></li><li><span><a href="#Multiple-Where-Subphrases" data-toc-modified-id="Multiple-Where-Subphrases-3.3.3"><span class="toc-item-num">3.3.3&nbsp;&nbsp;</span>Multiple Where Subphrases</a></span></li><li><span><a href="#Nested-Columns-in-Where" data-toc-modified-id="Nested-Columns-in-Where-3.3.4"><span class="toc-item-num">3.3.4&nbsp;&nbsp;</span>Nested Columns in Where</a></span></li><li><span><a href="#fby-i-Where" data-toc-modified-id="fby-i-Where-3.3.5"><span class="toc-item-num">3.3.5&nbsp;&nbsp;</span><code>fby</code> i Where</a></span></li></ul></li><li><span><a href="#Grouping-and-Aggregation" data-toc-modified-id="Grouping-and-Aggregation-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Grouping and Aggregation</a></span><ul class="toc-item"><li><span><a href="#Aggregation-without-Grouping" data-toc-modified-id="Aggregation-without-Grouping-3.4.1"><span class="toc-item-num">3.4.1&nbsp;&nbsp;</span>Aggregation without Grouping</a></span></li><li><span><a href="#Grouping-without-Aggregation" data-toc-modified-id="Grouping-without-Aggregation-3.4.2"><span class="toc-item-num">3.4.2&nbsp;&nbsp;</span>Grouping without Aggregation</a></span></li><li><span><a href="#Grouping-with-Aggregation" data-toc-modified-id="Grouping-with-Aggregation-3.4.3"><span class="toc-item-num">3.4.3&nbsp;&nbsp;</span>Grouping with Aggregation</a></span></li></ul></li></ul></li><li><span><a href="#The-exec-Template" data-toc-modified-id="The-exec-Template-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>The <code>exec</code> Template</a></span></li><li><span><a href="#The-update-Template" data-toc-modified-id="The-update-Template-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>The <code>update</code> Template</a></span><ul class="toc-item"><li><span><a href="#Basic-update" data-toc-modified-id="Basic-update-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Basic update</a></span></li><li><span><a href="#update-by" data-toc-modified-id="update-by-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>update-by</a></span></li></ul></li><li><span><a href="#The-delete-Template" data-toc-modified-id="The-delete-Template-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>The <code>delete</code> Template</a></span></li><li><span><a href="#Sorting" data-toc-modified-id="Sorting-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Sorting</a></span><ul class="toc-item"><li><span><a href="#xasc" data-toc-modified-id="xasc-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span><code>xasc</code></a></span></li><li><span><a href="#xdesc" data-toc-modified-id="xdesc-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span><code>xdesc</code></a></span></li><li><span><a href="#Mixed-Sort" data-toc-modified-id="Mixed-Sort-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>Mixed Sort</a></span></li></ul></li><li><span><a href="#Renaming-and-Rearranging-Columns" data-toc-modified-id="Renaming-and-Rearranging-Columns-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Renaming and Rearranging Columns</a></span><ul class="toc-item"><li><span><a href="#xcol" data-toc-modified-id="xcol-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span><code>xcol</code></a></span></li><li><span><a href="#xcols" data-toc-modified-id="xcols-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span><code>xcols</code></a></span></li></ul></li><li><span><a href="#Joins" data-toc-modified-id="Joins-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Joins</a></span></li></ul></div>

## Overview

Difference between SQL and q:
1. q table has ordered rows and columns. This is particularly useful when dealing with the situation where records arrive in time order. Appending them to a table ensures that they enter – and stay – in order. Subsequent select operations always retrieve the records in order without any need for sorting.
2. q table is stored physically as a collection of column lists. This means that operations on column data are vector operations. Moreover, for simple column lists, atomic, aggregate and uniform functions applied to columns are especially simple and fast since they reduce to direct memory addressing.
3. q-sql provides upsert semantics. Recall that upsert semantics on a dictionary mean that when a key-value pair is applied with `,` and the key is present, the value is updated; otherwise the pair is inserted. In the context of tables and keyed tables, which are both dictionaries, this has far-reaching consequences for many common operations, including joins. Upsert semantics permeate q-sql.

In [1]:
s:([s:`s1`s2`s3`s4`s5]
 name:`smith`jones`blake`clark`adams;
 status:20 10 30 20 30;
 city:`london`paris`paris`london`athens)

p:([p:`p1`p2`p3`p4`p5`p6]
 name:`nut`bolt`screw`screw`cam`cog;
 color:`red`green`blue`red`blue`red;
 weight:12 17 17 14 12 19;
 city:`london`paris`rome`london`paris`london)

sp:([]
 s:`s$`s1`s1`s1`s1`s4`s1`s2`s2`s3`s4`s4`s4;	/ fkey
 p:`p$`p1`p2`p3`p4`p5`p6`p1`p2`p2`p2`p4`p5;	/ fkey
 qty:300 200 400 200 100 100 300 400 200 200 300 400)

In [2]:
meta s
meta p
meta sp

c     | t f a
------| -----
s     | s
name  | s
status| j
city  | s

c     | t f a
------| -----
p     | s
name  | s
color | s
weight| j
city  | s

c  | t f a
---| -----
s  | s s
p  | s p
qty| j

## Inserting Records
**The upsert function is superior to insert and is to be preferred. We include insert for nostalgia only.**

**Appending using Assign**

Since a table is (logically) a list of records, it is possible to append records in place using `,:`. Type checking on field values is performed.

In [2]:
t:([] name:`symbol$(); iq:`int$())
t,:`name`iq!(`Beeblebrox; 42)
t,:`name`iq!(`Dent; 98.0)

type: type

In [3]:
t,:(`Prefect; 126)

In [4]:
t,:(`Prefect; 126)
t,:(`Prefect; 126)
t

name       iq
--------------
Beeblebrox 42
Prefect    126
Prefect    126
Prefect    126

Assign has upsert semantics on keyed tables, so repeated operation on the same key will retain only the last values.

In [5]:
kt:([eid:`long$()] name:`symbol$(); iq:`long$())
kt,:(1002; `Dent; 98)
kt,:(1002; `Dent; 101)
kt

eid | name iq
----| --------
1002| Dent 101

### Basic `insert`
Those who prefer the familiarity of SQL can append records to an existing global table using the binary function insert whose left operand is a symbol containing the name of a global table (target) and whose right argument is a record, or list of records, conforming to the target. The result is a list of integers representing the row number(s) of the appended record(s).


Since insert essentially reduces to amend in place, **fields are type checked**.
- If the target column is simple, the type must match exactly.
- If the target column is an untyped empty list, the result will take the type of the field in the initial insert.

In [6]:
t:([] name:`Dent`Beeblebrox`Prefect; iq:42 98 126)
`t insert (`name`iq)!(`Slartibartfast; 134)
`t insert (`Marvin; 150)
t

,3

,4

name           iq
------------------
Dent           42
Beeblebrox     98
Prefect        126
Slartibartfast 134
Marvin         150

In [7]:
`t insert (`Marvin; 150)
`t insert (`Marvin; 150)
t

,5

,6

name           iq
------------------
Dent           42
Beeblebrox     98
Prefect        126
Slartibartfast 134
Marvin         150
Marvin         150
Marvin         150

Since a list of conforming records is a table, **inserting a list of records is the same as inserting a table**. Observe that use of `3#` to truncate the table.

In [8]:
t:3#t
`t insert (`name`iq!(`Slartibartfast; 134); (`name`iq!(`Marvin; 200)))
t
t:3#t
`t insert ([] name:`Slartibartfast`Marvin; iq:134 200)
t

3 4

name           iq
------------------
Dent           42
Beeblebrox     98
Prefect        126
Slartibartfast 134
Marvin         200

3 4

name           iq
------------------
Dent           42
Beeblebrox     98
Prefect        126
Slartibartfast 134
Marvin         200

You can also use `insert` in **prefix form**, possibly with the table name projected. For example, the previous insert can be written as,

In [9]:
insert[`t; (`Slartibartfast; 134)]
insert[`t;] (`Slartibartfast; 134)

,5

,6

### Bulk Columnar Insert

It is also possible to bulk insert naked field values but there is a twist. To bulk insert naked field values, you provide a list of **columns** not a list of rows.

In [9]:
t:([] name:`Dent`Beeblebrox; iq:98 42)
`t insert (`Prefect`Marvin; 126 200)
`t insert ((`Prefect; 126); (`Marvin; 200))

2 3

type: type

### Insert into Empty Tables

In [10]:
t:([] name:(); iq:())
`t insert (`Dent;98)
meta t

,0

c   | t f a
----| -----
name| s
iq  | j

In [10]:
t:([] name:(); iq:())
`t insert (`Dent;98.0)
`t insert (`Beeblebrox; 42)

,0

type: type

**Recommendation**

It is good practice to type all columns in an empty table. This will ensure that incorrect types are rejected and correct ones accepted.

In [10]:
t:([] name:`symbol$(); iq:`int$())
`t insert (`Dent;98.0)
`t insert (`Beeblebrox; 42)

type: type

It is also possible to insert a **list** of conforming records (i.e., a table) into a table that does not exist. This is the same as assigning the table to a variable of the specified name.

In [11]:
`tnew insert enlist `c1`c2!(`a; 10)
tnew

,0

c1 c2
-----
a  10

### Insert and Foreign Keys

enumeration is a form of cast.

In [11]:
kt:([eid:1001 1002 1003] name:`Dent`Beeblebrox`Prefect; iq:98 42 126)
tdetails:([] eid:`kt$1003 1002 1001 1002 1001; sc:126 36 92 39 98)
`tdetails insert (1002;42)
`tdetails insert (1042;150) / foreign-key value 1042 that does not appear in kt.

,5

cast: cast

### Insert into Keyed Tables

You can use `insert` to append data to a keyed table, but this probably does not have the desired semantics. Specifically, you can insert into a keyed table only if the key value is **not** already in the table. For this and other reasons, `upsert` should normally be preferred over `insert`.

Since a keyed table is a dictionary, to use `insert` we should properly provide a dictionary entry comprising a key record and a value record.

In [11]:
kt:([eid:1001 1002] name:`Dent`Beeblebrox; iq:98 42)
`kt insert (1005; `Marvin; 200)
`kt insert (1004;`Slartibartfast;158)
`kt insert (1004;`Marvin;200)

,2

,3

insert: insert

**The records in the keyed table are stored in insert order rather than key order.**

In [12]:
kt

eid | name           iq
----| ------------------
1001| Dent           98
1002| Beeblebrox     42
1005| Marvin         200
1004| Slartibartfast 158

## `Upsert`

###  `Upsert` Replacing `Insert`

In [13]:
t:([] name:`Dent`Beeblebrox`Prefect; iq:42 98 126)
`t upsert (`name`iq)!(`Slartibartfast; 134)
`t upsert (`Marvin; 150)
`t upsert ([] name:`Slartibartfast`Marvin; iq:134 200)
t:3#t
upsert[`t;(`Slartibartfast; 134)]

`t

`t

`t

`t

**Tip**

To bulk upsert naked field values, use **rows** instead of columns.

In [14]:
t upsert ((`Prefect; 126); (`Marvin; 200))

name           iq
------------------
Dent           42
Beeblebrox     98
Prefect        126
Slartibartfast 134
Prefect        126
Marvin         200

### Upsert by Name

A limitation of `insert` is that it uses **pass-by-name**, so it can only operate against global tables. In contrast, `upsert` supports both **pass-by-name and pass-by-value**. Thus it can be used with anonymous or local tables.

In [15]:
([] c1:`a`b; c2:10 20) upsert (`c; 30)
f:{t:([] c1:`a`b; c2:10 20); t upsert x}
f (`c; 30)

c1 c2
-----
a  10
b  20
c  30

c1 c2
-----
a  10
b  20
c  30

### Upsert on Keyed Tables

Update "duplicated" keys

In [16]:
`kt upsert (1001; `Beeblebrox; 42)
`kt upsert (1001; `Beeblebrox; 42)
kt

`kt

`kt

eid | name           iq
----| ------------------
1001| Beeblebrox     42
1002| Beeblebrox     42
1005| Marvin         200
1004| Slartibartfast 158

### Upsert on Persisted Tables

Upserting to a splayed table does **not** read the persisted image into memory; rather, it appends to the ends of the column files. This allows incremental creation of large splayed (or partitioned) tables by upserting chunks that comfortably fit into memory.

**Upserting to a table in either form will destroy any attributes on table columns. You will have to reapply them.**

## The `select` Template

**The result of `select` is always a table.**

### Syntax

The `select` template has the following form, where elements enclosed in matching angle brackets `<...>` are optional.

`select` $<p_s>$ <`by` $p_b$> `from` $t_{exp}$ <`where` $p_w$>

The `select` and `from` keywords are required; omission or mistyping either results in an error. The table expression $t_{exp}$, which is any q expression whose value is a table or keyed table, is also required. The remaining elements $p_s$, $p_b$ and $p_w$ are optional. They are called the Select, the By and the Where phrases, respectively.

**Tip**
If `where` is present and $t_{exp}$ is itself a select expression, the inner expression should be enclosed in parentheses to avoid confusion in the binding of the Where phrase.

**Commas**

**The commas separating the subphrases are separators**, so it is not necessary to enclose a subphrase in parentheses unless the expression contains the Join operator `,`. Any expression containing the operator , within any template phrase must be **enclosed in parentheses or it will be interpreted as the separator**. Forgetting this is both easy and painful.

The order of evaluation of the `select` template is:
1. From expression $t_{exp}$
2. Where phrase $p_w$
3. By phrase $p_b$
4. Select phrase $p_s$

### The Select Phrase

In [17]:
t:([] c1:`a`b`c; c2:10 20 30; c3:1.1 2.2 3.3)
t ~ select from t

1b

In [18]:
select c1, c3 from t

c1 c3
------
a  1.1
b  2.2
c  3.3

#### Result Column Names

- The colon used to specify a name is **not** assignment; it is simply part of the syntax of the template.
- Just as with the use of colon in a variable assignment, the column name is part of the syntactic sugar. It is not a symbol and **cannot** be parameterized. Use functional form if you need this – see §9.12.
- Unlike in SQL, columns in the Select phrase do not actually exist until the final result table is returned. Thus a computed column **cannot** be used in other column expressions.

If you do not provide a name for a computed column, q determines one.

- Normally the name is taken from the left-most term in the column expression.
- When q cannot determine a name it uses x.
- If q’s chosen name duplicates a previously determined column name, **it will suffix it with 1, 2**, etc. to make it unique. Recall that columns are sequenced from left to right.

In [19]:
select c1, res:2*c2 from t

c1 res
------
a  20
b  40
c  60

In [20]:
select c1, c1, 2*c2, c2+c3, string c3 from t

c1 c11 x  c2   c3
--------------------
a  a   20 11.1 "1.1"
b  b   40 22.2 "2.2"
c  c   60 33.3 "3.3"

#### The Virtual Column `i`

A virtual column `i` represents the offset of each record in the table – i.e., `i` is the row number. It is implicitly available in the Select phrase.

In [21]:
select i, c1 from t

x c1
----
0 a
1 b
2 c

**Tip**

You can name the result column `ix` to avoid confusion with the always-present virtual column `i`

In [22]:
select ix:i, c1 from t

ix c1
-----
0  a
1  b
2  c

#### `select` `distinct`

In [23]:
select distinct from ([] c1:`a`b`a; c2:10 20 10)

c1 c2
-----
a  10
b  20

#### `select []`

You can return the first or last n records in a select by using function parameter syntax after `select`. A positive integer parameter returns the first records, a negative parameter the last.

In [24]:
select[2] from s where city<>`athens
select[-1] from s where city<>`athens

s | name  status city
--| -------------------
s1| smith 20     london
s2| jones 10     paris

s | name  status city
--| -------------------
s4| clark 20     london

This syntax is extended to `select[n m]` where `n` is the starting row number and `m` is the number of rows.

In [25]:
select[1 2] from s where city<>`athens

s | name  status city
--| ------------------
s2| jones 10     paris
s3| blake 30     paris

One final extension of the syntax specifies a sorting criterion inside the brackets. For ascending sort, place `<` before a column name and for descending sort use `>`

In [26]:
select[>name] from s where city<>`athens
select[<city] from s where city<>`athens

s | name  status city
--| -------------------
s1| smith 20     london
s2| jones 10     paris
s4| clark 20     london
s3| blake 30     paris

s | name  status city
--| -------------------
s1| smith 20     london
s4| clark 20     london
s2| jones 10     paris
s3| blake 30     paris

You can combine the two syntax extensions by separating them with a semicolon.

**The items inside the brackets must be in this order.**

In [27]:
select[2; >name] from s where city<>`athens

s | name  status city
--| -------------------
s1| smith 20     london
s2| jones 10     paris

#### Select on Nested Columns

In [28]:
show tnest:([] c1:`a`b`c; c2:(10 20 30; enlist 40; 50 60))

c1 c2
-----------
a  10 20 30
b  ,40
c  50 60

We **cannot** apply an aggregate or uniform operation straight to c2 since the fields do not conform.

In [28]:
select avg c2 from tnest

length: length

We **can** apply an **aggregate or uniform function** to each field of c2 in tnest.

In [29]:
select avg each c2 from tnest

c2
--
20
40
55

Similarly we can use Each to compute a weighted average using two columns.

In [30]:
update c3:(1.1 2.2 3.3; enlist 4.4; 5.5 6.6) from `tnest
tnest

`tnest

c1 c2       c3
-----------------------
a  10 20 30 1.1 2.2 3.3
b  ,40      ,4.4
c  50 60    5.5 6.6

In [31]:
select wtavg:c2 wavg' c3 from tnest

wtavg
--------
2.566667
4.4
6.1

###  Filtering with `where`

#### Basic where

In [32]:
t:([] c1:`a`b`c; c2:10 20 30; c3:1.1 2.2 3.3)
t where t[`c2]>15
select from t where c2>15

c1 c2 c3
---------
b  20 2.2
c  30 3.3

c1 c2 c3
---------
b  20 2.2
c  30 3.3

In [33]:
select from t where 011b

c1 c2 c3
---------
b  20 2.2
c  30 3.3

#### The Virtual Column `i` in `where`

In [34]:
tbig:100#t
select from tbig where i within 50 99

c1 c2 c3
---------
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
..

To use this construct with non-literal values as the endpoints, you **must** use general-list notation, since simple-list notation cannot be used with variables.

In [35]:
s:50
e:99
select from tbig where i within (s;e)

c1 c2 c3
---------
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
b  20 2.2
c  30 3.3
a  10 1.1
..

#### Multiple Where Subphrases

**Place the most limiting where subphrase first, followed by others in decreasing strictness.**

In [36]:
t:([] c1:00:00:00.000+til 1000000;c2:1000000?`a`b;c3:1000000?100.)
\t select from t where c1 within 00:00:01.000 00:00:01.999, c2=`a

0

In [37]:
\t select from t where c2=`a, c1 within 00:00:01.000 00:00:01.999

2

#### Nested Columns in Where


Nested columns generally require iterators, and the Where phrase is no different. A common mistake made by qbies is, when trying to find a specific string in a column of strings, they forget that strings are not first-class in q.

In [37]:
t:([] f:1.1 2.2 3.3; s:("abc";enlist "d";"ef"))
select from t where s="ef" /atomic equality between a simple list and a nested list

length: length

In [38]:
select from t where s~"ef" /if the entire column matches the specified string

f s
---

In [39]:
select from t where s~\:"ef" /tests the specified string for match against each string in the column.

f   s
--------
3.3 "ef"

For matching strings, the `like` operator is **more efficient.**

In [40]:
select from t where s like "ef"

f   s
--------
3.3 "ef"

#### `fby` i Where

form $(f_{agg}; expr_{col})$ `fby` c

The left operand is a two-item list comprising an aggregate function $f_{agg}$ and a column expression $expr_{col}$ on which the function will be applied. The right operand c is the column to be grouped.

In [41]:
select max weight by city from p

city  | weight
------| ------
london| 19
paris | 17
rome  | 17

In [42]:
select from p where weight=(max;weight) fby city

p | name  color weight city
--| -------------------------
p2| bolt  green 17     paris
p3| screw blue  17     rome
p6| cog   red   19     london

In [43]:
select from p where weight=(max;weight) fby city,color=`blue

p | name  color weight city
--| -----------------------
p3| screw blue  17     rome

To group on multiple columns, **encapsulate them in an anonymous table** in the right operand of `fby`.

In [44]:
t:([]sym:`IBM`IBM`MSFT`IBM`MSFT;
    ex:`N`O`N`N`N;
    time:12:10:00 12:30:00 12:45:00 12:50:00 13:30:00;
    price:82.1 81.95 23.45 82.05 23.40)
select from t where price=(max;price) fby ([]sym;ex)

sym  ex time     price
----------------------
IBM  N  12:10:00 82.1
IBM  O  12:30:00 81.95
MSFT N  12:45:00 23.45

### Grouping and Aggregation

In contrast to SQL, where grouping and aggregation are performed together, in q-sql they are independent.

#### Aggregation without Grouping

In [45]:
select total:sum qty, mean:avg qty from sp

total mean
--------------
3100  258.3333

#### Grouping without Aggregation

Grouping without aggregation is the most common way qbies unintentionally create nested columns. Nested columns are slower, more cumbersome to use (they require a heavy dose of iterators) and are usually unnecessary. And you can’t just cast a nested column to a simple one; you must apply an aggregate or some other operation that flattens a list.

In [46]:
t:([] c1:`a`b`a`b`c; c2:10 20 30 40 50)
t[`c2] group t[`c1]
select c2 by c1 from t

a| 10 30
b| 20 40
c| ,50

c1| c2
--| -----
a | 10 30
b | 20 40
c | ,50

Observe that `ungroup` can be used to reverse the nested result of grouping without aggregation. It is not quite an inverse since it returns the original records ordered on the by column(s).

In [47]:
ungroup select c2 by c1 from t

c1 c2
-----
a  10
a  30
b  20
b  40
c  50

In [48]:
`p xgroup sp

p | s          qty
--| --------------------------
p1| `s!0 1     300 300
p2| `s!0 1 2 3 200 400 200 200
p3| `s!,0      ,400
p4| `s!0 3     200 300
p5| `s!3 3     100 400
p6| `s!,0      ,100

In [50]:
ungroup `p xgroup sp

p  s qty
--------
p1 0 300
p1 1 300
p2 0 200
p2 1 400
p2 2 200
p2 3 200
p3 0 400
p4 0 200
p4 3 300
p5 3 100
p5 3 400
p6 0 100

#### Grouping with Aggregation

In [51]:
select sum c2 by c1 from t
t:([] desk:`a`b`a`b`a`b; acct:`1`2`3`4`1`4; pnl:1.1 -2.2 3.3 4.4 5.5 -.5)
select ct:count desk, sum pnl by desk,acct from t

c1| c2
--| --
a | 40
b | 60
c | 50

desk acct| ct pnl
---------| -------
a    1   | 2  6.6
a    3   | 1  3.3
b    2   | 1  -2.2
b    4   | 2  3.9

In [52]:
t:([] c1:00:00:00.000+til 1000000;c2:1000000?`a`b;c3:1000000?100.)
select avg c3 by 100 xbar c1, c2 from t

c1           c2| c3
---------------| --------
00:00:00.000 a | 49.44874
00:00:00.000 b | 54.21254
00:00:00.100 a | 45.59306
00:00:00.100 b | 40.59436
00:00:00.200 a | 45.99148
00:00:00.200 b | 46.22362
00:00:00.300 a | 50.10055
00:00:00.300 b | 47.5136
00:00:00.400 a | 53.94542
00:00:00.400 b | 50.41118
00:00:00.500 a | 54.22142
00:00:00.500 b | 46.36771
00:00:00.600 a | 54.71282
00:00:00.600 b | 51.86255
00:00:00.700 a | 49.46785
00:00:00.700 b | 47.42026
00:00:00.800 a | 51.66804
00:00:00.800 b | 50.77955
00:00:00.900 a | 45.44763
00:00:00.900 b | 61.34752
..

**Tip**: In an unexpected special case of implicit grouping with aggregation, specifying a By phrase together with empty Select phrase is equivalent to applying last to all columns.

In [53]:
t:([] desk:`a`b`a`b`a`b; acct:`1`2`3`4`1`4; pnl:1.1 -2.2 3.3 4.4 5.5 -.5)
select by desk from t

desk| acct pnl
----| ---------
a   | 1    5.5
b   | 4    -0.5

## The `exec` Template

The syntax of `exec` is identical to that of `select`

`exec` $<p_s>$ <`by` $p_b$> `from` $t_{exp}$ <`where` $p_w$>


Whereas `select` always returns a table, the result type of `exec` depends on the number of columns in its Select phrase. **One column yields a list; more than one column yields a dictionary.**

In [53]:
t:([] name:`a`b`c`d`e; state:`NY`FL`OH`NY`HI)
exec name, distinct state from t
select name, distinct state from t

name | `a`b`c`d`e
state| `NY`FL`OH`HI

length: length

A common use of `exec` is when there is only one column in the aggregate phrase and no By phrase. The result is the computed column list devoid of other structure – i.e., not a dictionary or table. **This is useful to extract a column dynamically.**

In [54]:
select name from t
exec name from t

name
----
a
b
c
d
e

`a`b`c`d`e

In [55]:
exec name from t where state in `NY`HI

`a`d`e

## The `update` Template

### Basic update

syntax is identical to `select`

`udpate` $<p_s>$ <`by` $p_b$> `from` $t_{exp}$ <`where` $p_w$>

In [56]:
t:([] c1:`a`b`c; c2:10 20 30)
update c1:`x`y`z from t
update c3:`x`y`z from t

c1 c2
-----
x  10
y  20
z  30

c1 c2 c3
--------
a  10 x
b  20 y
c  30 z

The **implicit naming conventions** are the same as in select so you can omit the name and colon for existing columns in many cases.

In [57]:
(update c2:c2+100 from t)~update c2+100 from t

1b

In the examples above, the table was passed by value and so the original was not modified. To modify the table in place, **pass it by name.**

In [58]:
t:([] c1:`a`b`c; c2:10 20 30)
update c1:`x`y`z from `t
t

`t

c1 c2
-----
x  10
y  20
z  30

Add a “constant” column by taking advantage of the fact that scalars are extended to match vectors. This is **not** a default value for the column in subsequent records.

In [59]:
update c3:42 from t

c1 c2 c3
--------
x  10 42
y  20 42
z  30 42

Often you will `apply` update with a `where` phrase that limits the scope of the modification.

In [60]:
t:([] c1:`a`b`c; c2:10 20 30)
update c2:c2+100 from t where c1<>`a

c1 c2
------
a  10
b  120
c  130

If you add a new column in `update` with a Where phrase, the fields in the **non-selected rows will have the null value of the appropriate type.**

In [61]:
update c3:1b from t where c2>15

c1 c2 c3
--------
a  10 0
b  20 1
c  30 1

You can use any q expression to the right of the colon providing **the size and type match the targeted location.**

In [ ]:
update c2:42 43 from t where c2>15
update c2:42 43 44 from t where c2>15 /`length
update c2:42.0 43 from t where c2>15 /`type

### update-by

When the By phrase is present, the update operation is performed along groups. This is most useful with aggregate and uniform functions. For an aggregate function, the entire group gets the value of the aggregation on the group.

In [62]:
update avg weight by city from p

p | name  color weight city
--| -------------------------
p1| nut   red   15     london
p2| bolt  green 14.5   paris
p3| screw blue  17     rome
p4| screw red   15     london
p5| cam   blue  14.5   paris
p6| cog   red   15     london

A uniform function is applied along the group in place.

In [65]:
update cumqty:sums qty by s from sp

s p  qty cumqty
---------------
0 p1 300 300
0 p2 200 500
0 p3 400 900
0 p4 200 1100
3 p5 100 100
0 p6 100 1200
1 p1 300 300
1 p2 400 700
2 p2 200 200
3 p2 200 300
3 p4 300 600
3 p5 400 1000

## The `delete` Template

`delete`: allows either rows or columns to be deleted. Its syntax is a simplified form of `select`, with the restriction that either $p_{cols}$ or $p_w$ can be present but not both.

`delete` $<p_{cols}>$ `from` $t_{exp}$ <`where` $p_w$>

If $p_{cols}$ is present as a comma-separated list of columns, the result is $t_{exp}$ with the specified columns removed. If $p_w$ is present, the result is $t_{exp}$ after records meeting the criteria of $p_w$ are removed.  We **cannot** remove rows and columns simultaneously.

In [67]:
t:([] c1:`a`b`c; c2:10 20 30)
delete c1 from t
delete from `t where c2>15
t

c2
--
10
20
30

`t

c1 c2
-----
a  10

## Sorting

### `xasc`

The binary `xasc` takes a **scalar, or list of, symbolic column name(s)** as its left operand and **a table or table name** as its right operand. It returns the records of the table sorted ascending on the specified column(s). The sort column list is specified in major-to-minor sort order.

In [68]:
t:([] c1:`a`b`c`a; c2:20 10 40 30)
`c2 xasc t

c1 c2
-----
b  10
a  20
a  30
c  40

In [69]:
`c1`c2 xasc t

c1 c2
-----
a  20
a  30
b  10
c  40

### `xdesc`

### Mixed Sort

In [71]:
`c1 xasc `c2 xdesc t

c1 c2
-----
a  30
a  20
b  10
c  40

## Renaming and Rearranging Columns

In [73]:
t:([] c1:`a`b`c; c2:10 20 30; c3:1.1 2.2 3.3)

### `xcol`

The binary `xcol` takes a scalar, or list of, symbolic column name(s) as its left operand (names) and a table or keyed table (source) as its right operand. The columns in names must appear in source. The result is a table obtained by renaming the left-most columns of source according to names.

**no pass-by-name version of `xcol`**. To modify the source, reassign it.

In [75]:
`new1`new2 xcol t

new1 new2 c3
-------------
a    10   1.1
b    20   2.2
c    30   3.3

### `xcols`

The binary `xcols` takes a scalar, or list of, symbolic column name(s) as its left argument (names) and a table (source) as its right argument. The output is the result of reordering the columns in names so that those in names occur at the beginning – i.e., left-most in the display. Columns not specified in names are left in original order at the end – i.e., right-most.

Notes:

- The source operand **cannot** be a keyed table.
- There is no pass-by-name version of `xcols`. To modify the source, you must reassign it.

In [76]:
`c3 xcols t
`c3`c2 xcols t
t

c3  c1 c2
---------
1.1 a  10
2.2 b  20
3.3 c  30

c3  c2 c1
---------
1.1 10 a
2.2 20 b
3.3 30 c

c1 c2 c3
---------
a  10 1.1
b  20 2.2
c  30 3.3

## Joins